/* 2015 */
body {
background: none repeat scroll 0 0 #fff;
color: #333333;
font: 12px/150% Arial,Verdana,"宋体";
margin:0;
}
/* global */
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
ul.inline li{
    float: left;
    margin: 0 2px;
}
ul.inline .spacer{
    border-left: 1px solid #ccc;
    height: 15px;
    margin-top: 8px;
    width: 1px;
}
a{
    color: #666;
}
a:hover{
    text-decoration: none;
}
.dropdown .menu{
    background: #fefefe none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 1px;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
    text-align: left;
}
.dropdown:hover .menu{display: block}
.btn-pink {
    background-color: #F13FA0;
    border-color: #F13FA0;
    color: #fff;
}
.btn-pink:hover {
    background-color: #f30a86;
    border-color: #f30a86;
    color: #fff;
}
/* header.tpl */
.top-menu {
    background: #f1f1f1 none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.top-menu,.top-menu  a{
    color: #999;
}
.user-summary .tm-login{
    padding: 0 10px;
}
.user-account{
    text-align: right;
}
.user-account .fr{
    float: right;
}
.top-menu .dropdown{ border-left:1px solid #F1F1F1;border-right:1px solid #F1F1F1;}
.top-menu .dropdown:hover{
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}
.top-menu .customer-service .menu{
    width: 75px;
    left: -1px;
}
.top-menu .dropdown .menu a{display: block}


.user-account a{
    padding: 0 5px;
}
.user-account a span.before{
    color: #F13FA0;
    vertical-align: text-bottom;
}

#header{
    padding-top: 15px;
}
#header .logo{
    padding: 0px 10px 2px 20px;
    float:left;
    margin:0;
}
#header .logo a{
    background: url("../../../images/logo.png") repeat-x scroll 0 bottom transparent;
    display: block;
    height: 43px;
    margin: 0 auto;
    text-indent: -1000em;
    width: 215px;
}
#search form{
    border: 3px solid #F13FA0;
    height: 36px;
}

#search input {
    border: medium none;
    color: #333333;
    float: left;
    height: 30px;
    padding: 0 5px;
    width: 395px;
}
#search .icon-search{
    background: #F13FA0 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: right;
    font-size: 16px;
    height: 30px;
    padding: 0 25px;
}
.hot-search{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 82%;
}
.cart{
    float: right;
    z-index: 999;
}
.cart .cart-btn{
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: block;
    float: right;
    padding: 7px 10px;
}
.cart .glyphicon{
color:#F13FA0;
}
.cart .badge{
    background: #F13FA0;
    font-size: 11px;
}
.cart .menu{
    border-top: 1px solid #ddd;
    right: 0;
    top: 33px;
    width: 350px;
    z-index: -1;
    padding: 0px;
    box-shadow: 0 0 3px 0 #ddd;
}
.cart .menu td{
    padding: 5px;
}
.cart .menu td.td-image img{
    border: 1px solid #ddd;
}
.cart .menu td.td-price{
    text-align: right;
}
.cart:hover .menu{
    display: block;
}
.cart:hover .cart-btn{
    background: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 3px 0 #ddd;
}
.cart .menu p{
    padding: 10px;
    background: #f9f9f9;
    margin: 0;
}
.cart .menu p a{
    float: right;
}
.navigation{
    border-bottom: 2px solid #f13fa0;
    height: 40px;
    line-height: 40px;
}
.navigation .nav{
    position: relative;
}
.navigation li{
    font-size: 16px;
    font-weight: 700;
    padding: 0 14px;
}
.navigation li.all{
    background:#F13FA0;
    position: relative;
    padding: 0 30px;
    z-index: 1002;
}
.navigation li a{
    color: #333;
    display: block;
    padding: 0 6px;
}
.navigation li.all a{
    color: #fff;
}
.navigation .nav-indicator{
    background: #f13fa0 none repeat scroll 0 0;
    bottom: 0;
    height: 5px;
    position: absolute;
    display: inline;
    overflow: hidden;
}
.navigation li.all .categories{
    background: #000 none repeat scroll 0 0;
    height: 360px;
    left: 0;
    opacity: 0.85;
    position: absolute;
    width: 174px;
}
/* end header.tpl */
/* full-block */
.full-block{
    margin: 20px 0;
}
.full-block .block-title{
    border-bottom: 2px solid #000;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
}
.full-block .title{
    float: left;
    font-size: 20px;
    font-weight: 700;
}
.full-block .title small{
    font-weight: normal;
    font-size: 12px;
    color: #999;
}
.full-block .more{
    float: right;
    margin-left: 10px;
}
.full-block .more .glyphicon{
    vertical-align: middle;
}
/* end full-block */
/* filter */
.filter-heading{

}
.row.filter-line,.filter-heading {
    border-bottom: 1px solid #ddd;
    line-height: 30px;
}
.row.filter-line li{
    margin: 0 15px;
}
/* filter */
/* product-extra-bar */
.product-extra-bar{
    background: #eee none repeat scroll 0 0;
    margin: 20px 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* end product-extra-bar */
/* product_list block */
#product_list ul{
    display: inline-block;
}
#product_list li{
    border: 1px solid #fff;
    box-sizing: border-box;
    float: left;
    margin: 5px 3px;
    padding: 10px;
    position: relative;
    width: 220px;
}
#product_list li:hover{
    border: 1px solid #ddd;
}
#product_list li .wish{
    font-size: 16px;
    position: absolute;
    color: #ccc;
}
#product_list li .wish:hover
{
    color: #f13fa0;
}
.product-name{
    font-size: 14px;
    height: 30px;
    overflow: hidden;
    margin: 0;
}
#product_list li .new{
    font-size: 90%;
    position: absolute;
    right: 40px;
    top: 15px;
}
.old_price{
    text-decoration: line-through;
}
.now_price{
    color: #f13fa0;
    font-size: 18px;
}
.product-pagination{
    margin-bottom: 30px;
    margin-top: 30px;
}
.product-pagination .pagination{
    margin: 0;
}
#pagigation-nb{
    display: inline-block;
    margin: 0 10px;
    width: 50px;
}
.pagination > li > a, .pagination > li > span {
    padding: 8px 12px;
}
.change-page-number{
    display: inline-block;
    width: 100px;
}
/* end product_list */
/* footer.tpl */
#footer{
    background: #000 none repeat scroll 0 0;
    border-top: 2px solid #f13fa0;
}
.our-partners{
    height: 60px;
}
/* end footer.tpl */
